.homebg{
    background-image: url(https://raw.githubusercontent.com/adrianhajdin/advice_app/master/src/images/city.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: whitesmoke;
    width: 70%;
    min-height: 20rem;
    border-radius: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.container > h1{
    font-size: "Spartan", sans-serif;
    text-align: center;

}

.container > button{
    flex: 0.5;
    position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}

.container>h3{

}